<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button [routerLink]="'/signup'" mat-icon-button class="example-icon favorite-icon mr10" aria-label="Example icon-button with heart icon">
      <mat-icon>person_add</mat-icon>
    </button>
    <button [routerLink]="'/login'" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  